<footer>
  <nav class="round">
    <ul>
      <li>Si no te salio un amigo secreto, mandame un email: <%= link_to 'roloenusa@msn.com', 'mailto:roloenusa@msn.com' %></li>
      <li></li>
    </ul>
  </nav>
</footer>

